@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

.bg-gradient-1 {
  background: linear-gradient(180deg, #e0ceff 0%, rgba(196, 196, 196, 0) 100%);
}

.bg-gradient-2 {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #e0ceff 100%);
}

.bg-footer {
  background-color: #1a1f39;
}

.primary-footer {
  color: #ffffff;
}
.secondary-footer {
  color: #f2c94c;
}

.text-light {
  color: #4f4f4f;
}

.btn {
  width: 167px;
  height: 58px;
  left: 1219px;
  top: 28px;
  border-radius: 50px;
}
.btn-2 {
  width: 140px;
  height: 48.62px;
  left: 567px;
  top: 396.92px;

  border-radius: 41.9162px;
}
.bg-btn-orange {
  background: #ff5d22;
}
.bg-btn-white {
  background: #ffffff;
}
.highlight {
  background: #ffffff;
  box-shadow: 0px 4.09207px 25.2717px 6.52174px rgba(0, 0, 0, 0.2);
  border-radius: 12.2283px;
}
